 <!DOCTYPE html>
<html lang="en">
<head>                     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Amor_ Detalles Yopal </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>     
        <div class="menu container">
            <a href="../index.html" class="logo">Dulce Amor _ Detalles Yopal</a>
        </div>
        
        <div class="header-content container">
            
            <div class="container">
                <br>
                <h2>¡Planifica con Anticipación y Celebra Cada Momento Especial!</h2>
                <br>    
                <p> En la vorágine de la vida cotidiana, a menudo pasamos por alto la importancia de las fechas especiales. Sin embargo, cada ocasión marca un capítulo valioso en nuestras vidas, una oportunidad para expresar amor, gratitud y aprecio hacia quienes nos rodean. En Dulce Amor _ Detalles Yopal, entendemos la trascendencia de estos momentos y queremos acompañarte en cada celebración.
 
                    <br><br> Hemos creado un calendario completo de fechas especiales para que puedas planificar con anticipación y asegurarte de que ninguna ocasión significativa pase desapercibida.
                </p>
                <br><br>
                <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20para%20la%20fecha%20especial%20..." 
                    class="btn-1">Agendar servicio </a>
            </div>
        </div>
     </header>
      <section class="porfolios container">
            <img src="../images/Fechas_especiales_2024.png" alt="">
      </section>

<footer>
    <div class="container">
        <div class="info">
            <div class="info-content">
                <div class="info-price">
                    <h2>
                        <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar" >¡agenda con nosotros!</a>
                        <p class="price">
                            Dulce Amor _ Detalles Yopal
                        </p>
                        <p>
                           para que nuestros servicios sean mas efectivos agradecemos agendar con 24 horas de anticipacion
                        </p>
                    </h2>
                </div>
                <div class="info-txt">
                    <h2>¡tu consulta no molesta!</h2>
                    <p>
                        Con el mayor de los gustos nos encantaria colaborarte
                    </p>
                    <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar"
                     class="btn-1"> WhatsApp</a>                   
                </div>
            </div>
            <hr> 
            <div class="enlaces">
                <h3> Redes Sociales</h3>
                <div class="enlace">
                    <li><a href="https://www.tiktok.com/@miaisabellahernnd?viewas">Tiktok</a></li>
                    <li><a href="https://www.facebook.com/dulce.amiryopal/?viewas">Facebook</a></li>
                    <li><a href="https://www.instagram.com/dulceamor_detallesyopal?viewas">intagram</a></li>
                    <li><a href="https://wa.me/+573134342325?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar">WhatsApp</a></li>
                </div>

            </div>
        </div>
    </div>
   </footer>
</body>
</html>