<!DOCTYPE html>
<html lang="en">
<head>                     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Amor_ Detalles Yopal </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>     
        <div class="menu container">
            <a href="../index.html" class="logo">Dulce Amor _ Detalles Yopal</a>
        </div>
        
        <div class="header-content container">
            
            <div class="container">
                <br>
                <h2>¡Catalogo General! Personalización para Cada Ocasión</h2>
                <br>    
                <p> Descubre en Dulce Amor _ Detalles Yopal un mundo de referencias que se adaptan a tus necesidades. Desde arreglos florales hasta regalos exclusivos, todos nuestros productos son completamente ajustables y personalizables según la ocasión y temática que desees. Haz que cada detalle refleje tu estilo único y celebre momentos especiales de manera inigualable.

                </p>
                <br><br>
                <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20la%20ref%20...%20%20del%20catalogo%20general"
                    class="btn-1">Agendar servicio </a>
            </div>
        </div>
     </header>
    
    <section class="porfolios container">
        
        
        <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    MINI DONAS CUBIERTAS CON CHOCOLATE
                    <br>♥️
                    CAJA DE CARTÓN
                    <br>♥️
                    TEMÁTICA AL GUSTO
                    <br>♥️
                    MOÑO
                    <br>♥️
                    TARJETA PERSONALIZADA
                    <br>♥️
                    ADEREZOS
                </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                01" class="btn-2" >Ref: A
                01 
                        <br>Valor $
                38.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    Waffle doble tipo torta
                    <br>♥️
                    linda caja  marcada a mano
                    <br>♥️
                    Cubiertos ecológicos
                    <br>♥️
                    moño
                    <br>♥️
                    Globo marcado y personalizado 
                    <br>♥️
                    aderezos
                    <br>♥️
			chocolates variados
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                02" class="btn-2" >Ref: A
                02 
                        <br>Valor $
                50.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    saludable parfait
                    <br>♥️
                    cubiertos ecológicos
                    <br>♥️
                    tarjeta personalizada
                    <br>♥️
                    Globo marcado y personalizado 
                    <br>♥️
                    aderezos
                    <br>♥️
			moño
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                03" class="btn-2" >Ref: A
                03 
                        <br>Valor $
                50.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    8 fresas cubiertas con chocolate
                    <br>♥️
                    linda Caja de cartón decorada
                    <br>♥️
                    tarjeta personalizada
                    <br>♥️
                    Temática al gusto
                    <br>♥️
                    aderezos
                    <br>♥️
			moño y cintas
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                04" class="btn-2" >Ref: A
                04 
                        <br>Valor $
                55.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    linda Bandeja de cartón decorada
                    <br>♥️
                    delicioso salchipapas 
                    <br>♥️
                    bebida decorada  al gusto
                    <br>♥️
                    chocolates variados
                    <br>♥️
                    cubiertos ecológicos
                    <br>♥️
			hermoso globo marcado y decorado segun tematica
<br>♥️
			moño y cintas
<br>♥️
			tarjeta y foto personalizada
<br>♥️
			temática a elecion del cliente. 
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                05" class="btn-2" >Ref: A
                05 
                        <br>Valor $
                60.000 </a>
       
            </div>
        </div>
        <br><br>
	    
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    linda decoracion en coronita 
                    <br>♥️
                    frutos secos
                    <br>♥️
                    gomas
                    <br>♥️
                    chocolates variados
                    <br>♥️
                    galletas
                    <br>♥️
			rosetones
<br>♥️
			globo marcado
<br>♥️
			tarjeta personalizada
<br>♥️
			moños
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                06" class="btn-2" >Ref: A
                06 
                        <br>Valor $
                65.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    Linda caja redonda en  negro decorada. 
                    <br>♥️
                    5  rosas eternas en liston satinado
                    <br>♥️
                    3 unidades Ferrero Rocher o fresas con chocolate.
                    <br>♥️
                    Cintas y moño
<br>♥️
			tarjeta personalizada.
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                07" class="btn-2" >Ref: A
                07 
                        <br>Valor $
                66.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️ 
                    7 fresas cubiertas en chocolate 
                    <br>♥️
                    linda Caja decorada con ventana 
                    <br>♥️
                    moño y foto
                    <br>♥️
                    Tarjeta decorada con mensaje personalizado.
<br>♥️
		bebida al gusto decorada segun tematica
br>♥️
                    chocolates variados
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                08" class="btn-2" >Ref: A
                08 
                        <br>Valor $
                68.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    Sándwich de la casa
<br>♥️
                    Mix de frutas 
<br>♥️
                    bebida al gusto decorada segun tematica
<br>♥️
                    Cubiertos ecológicos
<br>♥️
		Aderezos
br>♥️
                    Tarjeta personalizada
<br>♥️
                    Moños y cintas segun tematica
<br>♥️
		linda Caja de cartón decorada y personalizada segun tematica
br>♥️
                    Chocolates variados
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                09" class="btn-2" >Ref: A
                09 
                        <br>Valor $
                68.000 </a>
       
            </div>
        </div>
        <br><br>
	    
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    ensalada de frutas saludable
<br>♥️
                    yogurt griego natural con cereales 
<br>♥️
                    gomas - dulces varios
<br>♥️
                    Cubiertos ecológicos
<br>♥️
		moño y cintas segun tematica
br>♥️
                    linda caja marcada a mano
<br>♥️
                    aderezos
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                10" class="btn-2" >Ref: A
                10 
                        <br>Valor $
                68.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    2 unidades Carros hot wheels 
<br>♥️
                    Chocolates, gomas, galletas, mani
<br>♥️
                    Tarjeta personalizada segun tematica 
<br>♥️
                    Foto y cintas
<br>♥️
		Empaque tipo ramillete
br>♥️
                    Moños
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                11" class="btn-2" >Ref: A
                11 
                        <br>Valor $
                68.000 </a>
       
            </div>
        </div>
        <br><br>

	<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    linda  Caja de cartón decorada con ventana 
<br>♥️
                    Figura santa o santo a elegir
<br>♥️
                    Fresas con chocolate o minidonas 
<br>♥️
                    rosa eterna en liston satinado o natural
<br>♥️
		Tarjeta personalizada   
br>♥️
                    decoracion, moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                12" class="btn-2" >Ref: A
                12 
                        <br>Valor $
                78.000 </a>
       
            </div>
        </div>
        <br><br>    
        
        </div>
        <br><br>
        <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    linda  Caja de cartón decorada con ventana 
<br>♥️
                    arreglo floral con 4 rosas y follaje 
<br>♥️
                    6 Fresas con chocolate o minidonas 
<br>♥️
                    tarjeta decorada y mensaje personalizado
<br>♥️
		Decoración general, moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                13" class="btn-2" >Ref: A
                13 
                        <br>Valor $
                78.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    linda Caja tematica flork
<br>♥️
                    tarjeta marcada y personalizada
<br>♥️
                    chocolates variados
<br>♥️
                    gomas
<br>♥️
                    linda rosa eterna en liston satinada
<br>♥️
                    decoracion , moños, cintas segun tematica
<br>♥️
		galletas
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                14" class="btn-2" >Ref: A
                14 
                        <br>Valor $
                78.000 </a>
       
            </div>
        </div>
        <br><br>
	    

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    hamburguesa 
<br>♥️
                    papas francesas
<br>♥️
                    gomas - dulces
<br>♥️
                    bebida al gusto
<br>♥️
                    aderezos
<br>♥️
                    linda caja de cartón deorada

<br>♥️
		moño y decoracion seguntemtica.
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                15" class="btn-2" >Ref: A
                15 
                        <br>Valor $
                82.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    bandeja en división sándwich
<br>♥️
                    división mix fruta
<br>♥️
                    postre o dulces- chocolates
<br>♥️
                    bebida al gusto
<br>♥️
                    lindo globo marcado segun tematica
<br>♥️
                    moño y cubiertos ecológicos

<br>♥️
		tarjeta personalizada
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                16" class="btn-2" >Ref: A
                16 
                        <br>Valor $
                85.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    Bandeja divisiones
<br>♥️
                    división mix fruta
<br>♥️
                    postre o dulces- chocolates
<br>♥️
                    Aderezos 
<br>♥️
                    linda Decoración en globos según temática
<br>♥️
                    Empanaditas de la casa horneadas

<br>♥️
		tarjeta personalizada
<br>♥️
                    Salchipapas
<br>♥️
                    Waffles

<br>♥️
		Cubiertos Ecologicos
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                17" class="btn-2" >Ref: A
                17 
                        <br>Valor $
                92.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    caja de madera linda decoracion
<br>♥️
                    Ferrero Rocher
<br>♥️
                    4 frascos de vidrio con frutos secos
<br>♥️
                    2 coronitas decoradas
<br>♥️
                    gomas
<br>♥️
                    galletas
<br>♥️
                    tarjeta personalizada segun tematica

                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                18" class="btn-2" >Ref: A
                18 
                        <br>Valor $
                95.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    jugoso Churrasco
<br>♥️
                    acompañado Maduro con queso, papa francesa o criolla
<br>♥️
                    Ensalada
<br>♥️
                    Bebida al gusto
<br>♥️
                    Cubiertos ecológicos
<br>♥️
                    Tarjeta personalizada
<br>♥️
                    Aderezos
<br>♥️
                    lindo Globo marcado segun tematica
<br>♥️
                    Moñoy cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                19" class="btn-2" >Ref: A
                19 
                        <br>Valor $
                95.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    lindo cono decorado y  personalizado
<br>♥️
                    mym, galletas, gomas, snikers
<br>♥️
                    chocolatinas
<br>♥️
                    ferrero rocher
<br>♥️
                    tarjeta marcada segun tematica
<br>♥️
                    2 rosas y follaje
<br>♥️
                    moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                20" class="btn-2" >Ref: A
                20 
                        <br>Valor $
                95.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    caja de madera con linda decoracion
<br>♥️
                    Ferrero Rocher
<br>♥️
                    2 coronitas decoradas 
<br>♥️
                    4 frascos con frutos secos
<br>♥️
                    gomas 
<br>♥️
                    galletas
<br>♥️
                    moño y cintas segun tematica
<br>♥️
                    tarjeta personalizada
<br>♥️
                    arreglo floral 3 rosas y follaje
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                21" class="btn-2" >Ref: A
                21 
                        <br>Valor $
                98.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    linda Caja de madera (tipo maletín)
<br>♥️
                    Waffle saludable
<br>♥️
                    Partfait de la casa
<br>♥️
                    Sándwich horneado
<br>♥️
                    Jugo de naranja 
<br>♥️
                    Cubiertos ecológicos
<br>♥️
                    moño y cintas segun tematica
<br>♥️
                    tarjeta personalizada
<br>♥️
                    Chocolates
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                22" class="btn-2" >Ref: A
                22 
                        <br>Valor $
                98.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    sandwch de la casa o huevos rancheros
<br>♥️
                    mix de frutas
<br>♥️
                    bebida al gusto
<br>♥️
                    postre personal
<br>♥️
                    bandeja de madera
<br>♥️
                    globos marcados segun tematica 
<br>♥️
                    moños y cintas segun tematica
<br>♥️
                    tarjeta personalizada
<br>♥️
                    chocolates - dulces
<br>♥️
                    cubiertos ecológicos
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                23" class="btn-2" >Ref: A
                23 
                        <br>Valor $
                98.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    ensalada de frutas natural
<br>♥️
                    yogurt griego, cereales
<br>♥️
                    Ferrero rocher
<br>♥️
                    cubiertos ecológicos
<br>♥️
                    moño
<br>♥️
                    linda caja marcada segun tematica
<br>♥️
                    aderezos
<br>♥️
                    ramillete 1 girasol, 2 rosas y follaje
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                24" class="btn-2" >Ref: A
                24 
                        <br>Valor $
                98.000 </a>
       
            </div>
        </div>
        <br><br>

<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    Mug  personalizado
<br>♥️
                    chocolatinas-dulces
<br>♥️
                    Ferrero rocher
<br>♥️
                    galletas
<br>♥️
                    peluche pequeño
<br>♥️
                    lindo globo decorado segun tematica
<br>♥️
                    tarjeta personalizada
<br>♥️
                    moños y cintas segun tematica.
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                25" class="btn-2" >Ref: A
                25 
                        <br>Valor $
                98.000 </a>
       
            </div>
        </div>
        <br><br>

	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    Ensalada de frutas natural
<br>♥️
                    Yogurt griego natural, cereales.
<br>♥️
                    Chocolates-dulces variados.
<br>♥️
                    Sándwich doble de la casa.
<br>♥️
                    bebida al gusto decorada
<br>♥️
                    lindo arreglo  de globos en arco
<br>♥️
                    Caja de madera decorada segun tematica
<br>♥️
                    Cubiertos ecológicos
<br>♥️
                    Tarjeta personalizada
<br>♥️
                    Aderezos
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                26" class="btn-2" >Ref: A
                26 
                        <br>Valor $
                128.000 </a>
       
            </div>
        </div>
        <br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    lindo arreglo florar con 3 girasoles y 3 rosas
<br>♥️
                    caja de carton decorada que contiene:
fresas con chocolate o  mini donas
<br>♥️
                    peluche pequeño
<br>♥️
                    moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                27" class="btn-2" >Ref: A
                27 
                        <br>Valor $
                128.000 </a>
       
            </div>
        </div>
        <br><br>
	<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    caja de madera decorada
<br>♥️
                    lindo globo burbuja marcado segun tematica
<br>♥️
                    arreglo floralde 3 rosas 
<br>♥️
                    foto
<br>♥️
                    tarjeta personalizada segun tematica
<br>♥️
                    omelette 
<br>♥️
                    jugo natural al  gusto
<br>♥️
                    yogurt  natural  
<br>♥️
                    mix de fruta 
<br>♥️
                    Aderezos
<br>♥️
			sándwich con pollo
<br>♥️
			botella dulcera
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                28" class="btn-2" >Ref: A
                28 
                        <br>Valor $
                155.000 </a>
       
            </div>
        </div>
        <br><br>
	    
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    linda canasta decorada
<br>♥️
                    12 rosas eternas en liston satinado o naturales
<br>♥️
                    frutas naturales (uvas,manzana verde,manzana roja,bananos)
<br>♥️
                    moños y cintas segun tematica
<br>♥️
                    tarjeta personalizada segun tematica
<br>♥️
                    lindo globo burbuja decorado segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                29" class="btn-2" >Ref: A
                29 
                        <br>Valor $
                165.000 </a>
       
            </div>
        </div>
        <br><br>
	<div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    arreglo floral con 8 rosas a elegir si son eternas  en liston satinado o naturales
<br>♥️
                    imagen de santo o santa
<br>♥️
                    6 fresas con chocolate
<br>♥️
                    linda caja con ventana decorada
<br>♥️
                    moños, cintas y decoracion segun tematica
<br>♥️
                    tarjeta personalizada
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                30" class="btn-2" >Ref: A
                30 
                        <br>Valor $
                168.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    12 Ferreros Rocher
<br>♥️
                    15 rosas rojas naturales y follaje
<br>♥️
                    linda Caja negra decorada
<br>♥️
                    Cintas y moños
<br>♥️
                    Tarjeta personalizada
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                31" class="btn-2" >Ref: A
                31 
                        <br>Valor $
                168.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    arreglo floral (1 girasol y 12 rosas)
<br>♥️
                    ensalada de frutas
<br>♥️
                    caja de madera
<br>♥️
                    Ferrero Rocher
<br>♥️
                    helado
<br>♥️
                    frutos secos
<br>♥️
                    yogurt griego o dulces
<br>♥️
                    cubierto ecológico
<br>♥️
                    tarjeta marcada ypersonalizada segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                32" class="btn-2" >Ref: A
                32 
                        <br>Valor $
                190.000 </a>
       
            </div>
        </div>
        <br><br>
	    <div class="porfolio">
         <img src="../images/Catalogo/img1.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
<h4>♥️ 
                    lindo arreglo floral
<br>♥️
                    panqueques con fruta
<br>♥️
                    bebida al gusto
<br>♥️
                    postre  personal
<br>♥️
                    lindo globo burbuja decorado segun tematica
<br>♥️
                    yogurt griego y cereales
<br>♥️
                    huevos rancheros
<br>♥️
                    chocolates - dulces variados
<br>♥️
                    tarjeta marcada ypersonalizada segun tematica
<br>♥️
                    cubiertos ecológicos 
<br>♥️
                    tarjeta marcada ypersonalizada segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A
                33" class="btn-2" >Ref: A
                33 
                        <br>Valor $
                200.000 </a>
       
            </div>
        </div>
        <br><br>

	    
	    
	    
	    
   </section>
   <footer>
    <div class="container">
        <div class="info">
            <div class="info-content">
                <div class="info-price">
                    <h2>
                        <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar" >¡agenda con nosotros!</a>
                        <p class="price">
                            Dulce Amor _ Detalles Yopal
                        </p>
                        <p>
                           para que nuestros servicios sean mas efectivos agradecemos agendar con 24 horas de anticipacion
                        </p>
                    </h2>
                </div>
                <div class="info-txt">
                    <h2>¡tu consulta no molesta!</h2>
                    <p>
                        Con el mayor de los gustos nos encantaria colaborarte
                    </p>
                    <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar"
                     class="btn-1"> WhatsApp</a>                   
                </div>
            </div>
            <hr> 
            <div class="enlaces">
                <h3> Redes Sociales</h3>
                <div class="enlace">
                    <li><a href="https://www.tiktok.com/@miaisabellahernnd?viewas">Tiktok</a></li>
                    <li><a href="https://www.facebook.com/dulce.amiryopal/?viewas">Facebook</a></li>
                    <li><a href="https://www.instagram.com/dulceamor_detallesyopal?viewas">intagram</a></li>
                    <li><a href="https://wa.me/+573134342325?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar">WhatsApp</a></li>
                </div>

            </div>
        </div>
    </div>
   </footer>
</body>
</html>
