<!DOCTYPE html>
<html lang="en">
<head>                     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Amor_ Detalles Yopal </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>     
        <div class="menu container">
            <a href="../index.html" class="logo">Dulce Amor _ Detalles Yopal</a>
        </div>
        
        <div class="header-content container">
            
            <div class="container">
                <br><br>
                <h2>¡Listos para Ti en el Acto! Disfruta de Nuestra Disponibilidad Inmediata!</h2>
                <br>    
                <p> 
                    <br>Nos complace informarte que las siguientes referencias de nuestro catálogo están en disponibilidad inmediata y listas para ser enviadas el mismo día, sin necesidad de agendar previamente.
                    <br><br>En Dulce Amor _ Detalles Yopal, entendemos la importancia de la prontitud, especialmente cuando se trata de regalos y detalles para ocasiones especiales. Queremos que puedas sorprender a tus seres queridos en el momento perfecto, por eso hemos asegurado que estas referencias estén siempre disponibles para ti.
                   </p>
                <br><br>
                <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20productos%20de%20entrega%20inmediata,%20la%20ref%20..." 
                    class="btn-1">Agendar servicio </a>
            </div>
        </div>
     </header>
    <br>
    <section class="porfolios container">
        <div class="porfolio">
         <img src="../images/Catalogo/img2.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️Waffle doble tipo torta
                    <br>♥️linda caja  marcada a mano
                    <br>♥️Cubiertos ecológicos
                    <br>♥️moño
                    <br>♥️Globo marcado y personalizado 
                    <br>♥️aderezos
                    <br>♥️chocolates variados
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A02" class="btn-2" >Ref: A02 <br>Valor $50.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img7.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
                <h4>♥️Linda caja redonda en  negro decorada. 
                    <br>♥️8  rosas eternas en liston satinado
                    <br>♥️3 unidades Ferrero Rocher o fresas con chocolate.
                    <br>♥️Cintas y moño
			<br>♥️tarjeta personalizada.
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A07" class="btn-2" >Ref: A07 <br>Valor $80.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img12.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️ linda  Caja de cartón decorada con ventana 
		<br>♥️Figura santa o santo a elegir
		<br>♥️Fresas con chocolate o minidonas 
		<br>♥️rosa eterna en liston satinado o natural
		<br>♥️Tarjeta personalizada   
		<br>♥️decoracion, moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A12" class="btn-2" >Ref: A12 <br>Valor $78.000 </a>
       </div></div><br><br>    
<div class="porfolio">
         <img src="../images/Catalogo/img14.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️ linda Caja tematica flork
		<br>♥️tarjeta marcada y personalizada
		<br>♥️chocolates variados
		<br>♥️gomas
		<br>♥️linda rosa eterna en liston satinada
		<br>♥️decoracion , moños, cintas segun tematica
		<br>♥️galletas
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A14" class="btn-2" >Ref: A14 <br>Valor $78.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img18.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️ caja de madera linda decoracion
		<br>♥️Ferrero Rocher
		<br>♥️4 frascos de vidrio con frutos secos
		<br>♥️2 coronitas decoradas
		<br>♥️gomas
		<br>♥️galletas
		<br>♥️tarjeta personalizada segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A18" class="btn-2" >Ref: A18 <br>Valor $95.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img20.jpeg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️lindo cono decorado y  personalizado
		<br>♥️mym, galletas, gomas, snikers
		<br>♥️chocolatinas
		<br>♥️ferrero rocher
		<br>♥️tarjeta marcada segun tematica
		<br>♥️2 rosas y follaje
		<br>♥️moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A20" class="btn-2" >Ref: A20 <br>Valor $95.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img21.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️ caja de madera con linda decoracion
		<br>♥️Ferrero Rocher
		<br>♥️2 coronitas decoradas 
		<br>♥️4 frascos con frutos secos
		<br>♥️gomas 
		<br>♥️galletas
		<br>♥️moño y cintas segun tematica
		<br>♥️tarjeta personalizada
		<br>♥️arreglo floral 3 rosas eternas en liston satinado
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A21" class="btn-2" >Ref: A21 <br>Valor $98.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img27.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️ lindo arreglo florar con 3 girasoles y 3 rosas
		<br>♥️caja de carton decorada que contiene: fresas con chocolate o  mini donas
		<br>♥️peluche pequeño
		<br>♥️moños y cintas segun tematica
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A27" class="btn-2" >Ref: A27 <br>Valor $128.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img30.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️arreglo floral con 8 rosas a elegir si son eternas  en liston satinado o naturales
		<br>♥️imagen de santo o santa
		<br>♥️6 fresas con chocolate
		<br>♥️linda caja con ventana decorada
		<br>♥️moños, cintas y decoracion segun tematica
		<br>♥️tarjeta personalizada
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A30" class="btn-2" >Ref: A30 <br>Valor $168.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img031.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️12 Ferreros Rocher
		<br>♥️15 rosas eternas en liston satinado
		<br>♥️linda Caja negra decorada
		<br>♥️Cintas y moños
		<br>♥️Tarjeta personalizada
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A31" class="btn-2" >Ref: A31 <br>Valor $168.000 </a>
       </div></div><br><br>
<div class="porfolio">
         <img src="../images/Catalogo/img34.jpg" alt="">
            <div class="porfolio-1">
                <h3>Descripcion:</h3>
		<h4>♥️botella baile's
		<br>♥️12 rosas eternas en liston satinado y follaje
		<br>♥️caja de madera
		<br>♥️tarjeta personalizada
		<br>♥️corazones o pin al gusto segun tematica
		<br>♥️moños , cintas segun tematica
		<br>♥️12 Ferrero Rocher
                    </h4>
                <a href="https://wa.me/+573228766485?text=Revise%20la%20pagina%20y%20deseo%20agendar%20la%20Ref%20A34" class="btn-2" >Ref: A34 <br>Valor $210.000 </a>
       </div></div><br><br>
</section>
   <footer>
    <div class="container">
        <div class="info">
            <div class="info-content">
                <div class="info-price">
                    <h2>
                        <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar" >¡agenda con nosotros!</a>
                        <p class="price">
                            Dulce Amor _ Detalles Yopal
                        </p>
                        <p>
                           
                        </p>
                    </h2>
                </div>
                <div class="info-txt">
                    <h2>¡tu consulta no molesta!</h2>
                    <p>
                        Con el mayor de los gustos nos encantaria colaborarte
                    </p>
                    <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar"
                     class="btn-1"> WhatsApp</a>                   
                </div>
            </div>
            <hr> 
            <div class="enlaces">
                <h3> Redes Sociales</h3>
                <div class="enlace">
                    <li><a href="https://www.tiktok.com/@miaisabellahernnd?viewas">Tiktok</a></li>
                    <li><a href="https://www.facebook.com/dulce.amiryopal/?viewas">Facebook</a></li>
                    <li><a href="https://www.instagram.com/dulceamor_detallesyopal?viewas">intagram</a></li>
                    <li><a href="https://wa.me/+573134342325?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar">WhatsApp</a></li>
                </div>

            </div>
        </div>
    </div>
   </footer>
</body>
</html>
