<!DOCTYPE html>
<html lang="en">
<head>                     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulce Amor_ Detalles Yopal </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>     
        <div class="menu container">
            <a href="../index.html" class="logo">Dulce Amor _ Detalles Yopal</a>
        </div>
        
        <div class="header-content container">
            
            <div class="container">
                <br><br>
                <h2>¡Listos para Ti en el Acto! Disfruta de Nuestra Disponibilidad Inmediata!</h2>
                <br>    
                <p> 
                    <br>Nos complace informarte que las siguientes referencias de nuestro catálogo están en disponibilidad inmediata y listas para ser enviadas el mismo día, sin necesidad de agendar previamente.
                    <br><br>En Dulce Amor _ Detalles Yopal, entendemos la importancia de la prontitud, especialmente cuando se trata de regalos y detalles para ocasiones especiales. Queremos que puedas sorprender a tus seres queridos en el momento perfecto, por eso hemos asegurado que estas referencias estén siempre disponibles para ti.
                   </p>
                <br><br>
                <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20productos%20de%20entrega%20inmediata,%20la%20ref%20..." 
                    class="btn-1">Agendar servicio </a>
            </div>
        </div>
     </header>
    <br>
    <section class="porfolios container">
        
        
        


        
        
   </section>
   <footer>
    <div class="container">
        <div class="info">
            <div class="info-content">
                <div class="info-price">
                    <h2>
                        <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar" >¡agenda con nosotros!</a>
                        <p class="price">
                            Dulce Amor _ Detalles Yopal
                        </p>
                        <p>
                           
                        </p>
                    </h2>
                </div>
                <div class="info-txt">
                    <h2>¡tu consulta no molesta!</h2>
                    <p>
                        Con el mayor de los gustos nos encantaria colaborarte
                    </p>
                    <a href="https://wa.me/+573228766485?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar"
                     class="btn-1"> WhatsApp</a>                   
                </div>
            </div>
            <hr> 
            <div class="enlaces">
                <h3> Redes Sociales</h3>
                <div class="enlace">
                    <li><a href="https://www.tiktok.com/@miaisabellahernnd?viewas">Tiktok</a></li>
                    <li><a href="https://www.facebook.com/dulce.amiryopal/?viewas">Facebook</a></li>
                    <li><a href="https://www.instagram.com/dulceamor_detallesyopal?viewas">intagram</a></li>
                    <li><a href="https://wa.me/+573134342325?text=Buen%20Dia%20Dulce%20Amor%20_Detalles%20Yopal%20estoy%20interesado%20en%20sus%20Servicios%20me%20pueden%20Colaborar">WhatsApp</a></li>
                </div>

            </div>
        </div>
    </div>
   </footer>
</body>
</html>
